<ul class="media-list">
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-mutesd">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>

        <div>
          <!-- お気に入りボタン ここから -->
          <% if current_user.favored?(micropost) %>
            <%= form_for(current_user.favorites.find_by(micropost_id: micropost.id), html: { method: :delete }) do |f| %>
              <%= hidden_field_tag :micropost_id, micropost.id %>              
              <%= button_tag '', type: 'submit', class: 'btn btn-link btn-xs' do %>
                <i class="glyphicon glyphicon-star"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= form_for(current_user.favorites.build) do |f| %>
              <%= hidden_field_tag :micropost_id, micropost.id %>
              <%= button_tag '', type: 'submit', class: 'btn btn-link btn-xs' do %>
                <i class="glyphicon glyphicon-star-empty"></i>
              <% end %>
            <% end %>
          <% end %>
          <!-- お気に入りボタン ここまで -->
          <% if current_user == micropost.user %>
            <%= link_to 'Delete', micropost, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger btn-xs' %> 
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>